@model IEnumerable<WebApplication3.booking>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cost_per_ticket)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.payment_mode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.payment_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.package.packge_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.user_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cost_per_ticket)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payment_mode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payment_status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.package.packge_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user.user_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.booking_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.booking_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.booking_id })
        </td>
    </tr>
}

</table>
